
<div  *ngFor="let Employees of Employees"> 
<mat-card class="example-card" class="block">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      
    </mat-card-title>
    <mat-card-subtitle>
      
    </mat-card-subtitle>
  </mat-card-header>
  <div>
  <img mat-bcard-image src="https://t3.ftcdn.net/jpg/02/46/44/34/240_F_246443416_WrJ7Z5lQzA7b0nFHqLtZhuYLI3Z4dYxz.jpg" alt="Photo of a Shiba Inu">
  
  <mat-card-content >
    
<span class="name">{{Employees.EmployeeName + " " + Employees.EmployeeSurname}}</span>
    <br>
    {{Employees.Position}}
    <br>
    {{Employees.Age}}
    <br>
    <br>  
    </mat-card-content>
  </div>
  
  <mat-card-actions>
    <button mat-button class="update">UPDATE</button>
    <button mat-button class="delete">DELETE</button>
    
  </mat-card-actions>
</mat-card>
</div>